@page
@model BigScreen.Pages.TifoAdm.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="text-danger">
    @TempData["FailText"]
</div>
<div class="text-success">
    @TempData["SuccessText"]
</div>
<h1>Create</h1>

<h4>Tifo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tifo.Title" class="control-label"></label>
                <input asp-for="Tifo.Title" class="form-control" />
                <span asp-validation-for="Tifo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tifo.Path" class="control-label"></label>
                <input asp-for="Tifo.Path" class="form-control" />
                <span asp-validation-for="Tifo.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tifo.ContentType" class="control-label"></label>
                <input asp-for="Tifo.ContentType" class="form-control" />
                <span asp-validation-for="Tifo.ContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tifo.LengthOfMedia" class="control-label"></label>
                <input asp-for="Tifo.LengthOfMedia" class="form-control" />
                <span asp-validation-for="Tifo.LengthOfMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tifo.TifoHeight" class="control-label"></label>
                <input asp-for="Tifo.TifoHeight" class="form-control" />
                <span asp-validation-for="Tifo.TifoHeight" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Tifo.TifoWidth" class="control-label"></label>
                <input asp-for="Tifo.TifoWidth" class="form-control" />
                <span asp-validation-for="Tifo.TifoWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Ladda upp en eller flera filer:</p>
                    <input type="file" name="Tifo.MyUploadedFile" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Ladda upp tifo" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>




<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
