@page
@model BigScreen.Pages.TifoAdm.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-danger">
    @TempData["FailText"]
</div>
<div class="text-success">
    @TempData["SuccessText"]
</div>


@*<video id="video" preload="auto" hidden width="5000" height="1000">
    <source src="~/WP_20190701_09_07_49_Pro.mp4" type='video/mp4' />


    </video>*@
<video id="video" preload="auto">
    <source src="~/tifos/@Model.Tifo.Path.ToString()" type='@Model.Tifo.ContentType.ToString()' />


</video>
<h1>Edit</h1>

<h4>Tifo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tifo.Id" />
            <input type="hidden" asp-for="Tifo.Path" />
            <input type="hidden" asp-for="Tifo.ContentType" />
            <input type="hidden" asp-for="Tifo.LengthOfMedia" />
            <input type="hidden" asp-for="Tifo.TifoHeight" />
            <input type="hidden" asp-for="Tifo.TifoWidth" />

            <div class="form-group">
                <label asp-for="Tifo.Title" class="control-label"></label>
                <input asp-for="Tifo.Title" class="form-control" />
                <span asp-validation-for="Tifo.Title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Tifo.Path" class="control-label"></label>
            <input asp-for="Tifo.Path" class="form-control" />
            <span asp-validation-for="Tifo.Path" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tifo.ContentType" class="control-label"></label>
            <input asp-for="Tifo.ContentType" class="form-control" />
            <span asp-validation-for="Tifo.ContentType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tifo.LengthOfMedia" class="control-label"></label>
            <input asp-for="Tifo.LengthOfMedia" class="form-control" />
            <span asp-validation-for="Tifo.LengthOfMedia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tifo.TifoHeight" class="control-label"></label>
            <input asp-for="Tifo.TifoHeight" class="form-control" />
            <span asp-validation-for="Tifo.TifoHeight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tifo.TifoWidth" class="control-label"></label>
            <input asp-for="Tifo.TifoWidth" class="form-control" />
            <span asp-validation-for="Tifo.TifoWidth" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

